.vertical-divider {
	border-left: 2px solid #3d414b;
	height: 400px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -200px;
	box-shadow: 4px 0px 8px #000000;
}

.btn-primary {
	padding: 10px 30px;
	margin: 15px 0px;
	background-color: #edc200;
	border-color: #edc200;
	font-family: 'Open Sans', san-serif;
	font-size: 15px;
	color: white;
}

.btn-group {
	font-family: 'Open Sans', san-serif;
	color: #ffffff;
	border: none;
}

.todays-lesson-border-top {
	background-image: linear-gradient(#ee805b, #f03c00);
	height: 80px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.todays-lesson-border-bottom {
	background-image: linear-gradient(#ee805b, #f03c00);
	height: 80px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

.exercise-title {
	position: relative;
	bottom: 50%;
	font-family: 'Open Sans', san-serif;
	font-size: 20px;
	font-weight: 700;
	color: #ffffff;
	text-align: center;
}

.exercise-question {
	font-family: 'Open Sans', san-serif;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	padding-top: 90px;
}

.exercise-submit-button {
	background-color: green;
	border: none;
	height: 50px;
	width: 100px;
	position: absolute;
	top: 75%;
	left: 50%;
	margin-top: -25px;
	margin-left: -50px;
	font-family: 'Open Sans', san-serif;
	font-size: 20px;
	font-weight: 700;
	color: #ffffff;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-image: linear-gradient(#ee805b, #f03c00);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-family: 'Open Sans', san-serif;
	font-size: 20px;
	color: #ffffff;
	display: block;
	transition: 0.3s;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.navicon {
	position: relative;
	left: 20px;
	top: 15px;
	font-size: 30px;
	color: #ffffff;
	cursor: pointer;
}

.progress-bar-container {
	width: 100%;
	text-align: center;
	position: relative;
	top: 25%;
}

.progress-bar-dot {
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}

#login-body, #registration-body, #main-menu-body {
	background-color:  #2e3138;
}

#login-form {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -100px;
	margin-left: 100px;
}

#registration-form {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -120px;
	margin-left: 100px;
}

#username {
	height: 30px;
	width: 300px;
	font-family: 'Open Sans', san-serif;
	font-size: 15px;
}

#password {
	height: 30px;
	width: 300px;
	font-family: 'Open Sans', san-serif;
	font-size: 15px;
	margin: 15px 0px;
}

#email-address {
	height: 30px;
	width: 300px;
	font-family: 'Open Sans', san-serif;
	font-size: 15px;
	margin: 15px 0px;
}

#keep-me-logged-in-text {
	color: white;
	font-family: 'Open Sans', san-serif;
	font-size: 12px;
	margin: -20px 0px;
}

#container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

#menu-container {
	display: grid;
	grid-template-columns: repeat(1, 500px);
	grid-template-rows: repeat(2, 250px);	
}

#btn-todays-lesson {
	background-color: #ee805b;
	height: 500px;
	width: 500px;
	grid-column-start: 1;
}

#btn-layout-todays-lesson {
	display: grid;
	grid-template-columns: repeat(2, 250px);
	grid-auto-rows: 250px;
}

#btn-label-todays-lesson {
	font-size: 70px;
	text-align: left;
	position: relative;
	left: 20px;
	grid-column-start: 1;
}

#btn-image-todays-lesson {
	height: 225px;
	width: 225px;
	position: relative;
	top: 60px;
	left: 10px;
	grid-column-start: 2;
}

#btn-synopsis-todays-lesson {
	font-weight: 100;
	font-size: 17px;
	text-align: left;
	position: relative;
	top: 50px;
	right: 30px;
	left: 20px;
	margin-right: 60px;
	margin-bottom: 100px;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 2;
}

#btn-recap-lesson {
	background-color: #679eb3;
	height: 250px;
	width: 750px;
	grid-column-start: 2;
}

#btn-layout-recap-lesson {
	display: grid;
	grid-template-columns: repeat(2, 350px);
}

#btn-label-recap-lesson {
	font-size: 70px;
	text-align: left;
	position: relative;
	bottom: 45px;
	left: 20px;
	grid-column-start: 1;
}

#btn-synopsis-recap-lesson {
	font-weight: 100;
	font-size: 17px;
	text-align: left;
	position: relative;
	top: 35px;
	right: 20px;
	grid-column-start: 2;
}

#btn-user-profile {
	background-color: #fecc5d;
	height: 250px;
	width: 375px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
}

#btn-label-user-profile {
	font-size: 40px;
	text-align: center;
	position: relative;
	bottom: 30px;
}

#btn-image-user-profile {
`	height: 125px;
	width: 125px;
	position: relative;
	top: 10px;
}

#btn-settings {
	background-color: #7fb055;
	height: 250px;
	width: 375px;
	margin-left: 375px;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
}

#btn-label-settings {
	font-size: 40px;
	text-align: center;
	position: relative;
	bottom: 30px;
}

#btn-image-settings {
	height: 175px;
	width: 175px;
	position: relative;
	top: 10px;
}

#answer-grid {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 50%;
	right: 50%;
	margin-left: -1000px;
	display: grid;
	grid-auto-columns: 60px;
	grid-auto-rows: 100px;
}

#exercise-answer-1 {
	font-family: 'Open Sans', san-serif;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	line-height: 55px;
	height: 100px;
	width: 200px;
	border-style: solid;
	grid-column-start: 8;
	grid-row-start: 2;
}

#exercise-answer-2 {
	font-family: 'Open Sans', san-serif;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	line-height: 55px;
	height: 100px;
	width: 200px;
	border-style: solid;
	grid-column-start: 12;
	grid-row-start: 4;
}

#exercise-answer-3 {
	font-family: 'Open Sans', san-serif;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	line-height: 55px;
	height: 100px;
	width: 200px;
	border-style: solid;
	grid-column-start: 16;
	grid-row-start: 2;
}

#exercise-answer-4 {
	font-family: 'Open Sans', san-serif;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	line-height: 55px;
	height: 100px;
	width: 200px;
	border-style: solid;
	grid-column-start: 20;
	grid-row-start: 4;
}

#exercise-answer-5 {
	font-family: 'Open Sans', san-serif;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	line-height: 55px;
	height: 100px;
	width: 200px;
	border-style: solid;
	grid-column-start: 24;
	grid-row-start: 2;
}

#answer-drop-target {
	position: absolute;
	left: 50%;
	top: 5%;
	margin-left: 175px;
	margin-top: 40px;
	border-bottom: dotted;
	font-family: 'Open Sans', san-serif;
	font-size: 20px;
	font-weight: 700;
	height: 45px;
	width: 110px;
}