.vertical-divider {
	border-left: 2px solid #3d414b;
	height: 400px;
	position: absolute;
	margin: 125px 650px;
	box-shadow: 4px 0px 8px #000000;
}

.btn-primary {
	padding: 10px 30px;
	margin: 15px 0px;
	background-color: #edc200;
	border-color: #edc200;
	font-family: 'Open Sans', san-serif;
	font-size: 15px;
	color: white;
}

.btn-group {
	font-family: 'Open Sans', san-serif;
	color: #ffffff;
	border: none;
}

.todays-lesson-border-top {
	background-image: linear-gradient(#ee805b, #f03c00);
	height: 80px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.todays-lesson-border-bottom {
	background-image: linear-gradient(#ee805b, #f03c00);
	height: 80px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}

.exercise-title {
	font-family: 'Open Sans', san-serif;
	font-size: 20px;
	font-weight: 700;
	color: #ffffff;
	text-align: center;
	padding-top: 5px;
}

.exercise-question {
	font-family: 'Open Sans', san-serif;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	padding-top: 90px;
}

#login-body, #registration-body, #main-menu-body {
	background-color:  #2e3138;
}

#login-form {
	margin: 250px 750px;
	position: absolute;
}

#registration-form {
	margin: 200px 750px;
	position: absolute;
}

#username {
	height: 30px;
	width: 300px;
	font-family: 'Open Sans', san-serif;
	font-size: 15px;
}

#password {
	height: 30px;
	width: 300px;
	font-family: 'Open Sans', san-serif;
	font-size: 15px;
	margin: 15px 0px;
}

#email-address {
	height: 30px;
	width: 300px;
	font-family: 'Open Sans', san-serif;
	font-size: 15px;
	margin: 15px 0px;
}

#keep-me-logged-in-text {
	color: white;
	font-family: 'Open Sans', san-serif;
	font-size: 12px;
	margin: -20px 0px;
}

#btn-todays-lesson
{
	background-color: #ee805b;
}

#btn-layout-todays-lesson
{
	height: 400px;
	width: 500px;
}

#btn-label-todays-lesson
{
	font-size: 70px;
	text-align: left;
	padding-left: 20px;
}

#btn-image-todays-lesson
{
	height: 175px;
	width: 175px;
	padding-right: 20px;
}

#btn-synopsis-todays-lesson
{
	font-weight: 100;
	font-size: 17px;
	text-align: left;
	padding-left: 20px;
	vertical-align: text-top;
}

#container {
      width: 100%;
      height: 400px;
}

#exercise-answer1{
	font-family: 'Open Sans', san-serif;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	line-height: 75px;
	background-color: #ffffff;
	height: 75px;
	width: 175px;
	border-style: solid;
	margin: 80px 0px 0px 175px;
}

#exercise-answer2{
	font-family: 'Open Sans', san-serif;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	line-height: 75px;
	background-color: #ffffff;
	height: 75px;
	width: 175px;
	border-style: solid;
	margin: 75px 0px 0px 375px;
}

#exercise-answer3{
	font-family: 'Open Sans', san-serif;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	line-height: 75px;
	background-color: #ffffff;
	height: 75px;
	width: 175px;
	border-style: solid;
	margin: -237px 0px 0px 575px;
}

#exercise-answer4{
	font-family: 'Open Sans', san-serif;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	line-height: 75px;
	background-color: #ffffff;
	height: 75px;
	width: 175px;
	border-style: solid;
	margin: 75px 0px 0px 775px;
}

#exercise-answer5{
	font-family: 'Open Sans', san-serif;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	line-height: 75px;
	background-color: #ffffff;
	height: 75px;
	width: 175px;
	border-style: solid;
	margin: -237px 0px 0px 975px;
}